<section class="services pt-60 pb-60" id="services">
    <div class="container">
       <div class="row">
          <div class="col-xl-12">
             <div class="section-title text-center mb-60">
                <p>Best place for Online courses & E-Books</p>
                <h4>Achieve your Goals with EDUCOURSE</h4>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-4 col-sm-12">
             <div class="single_service service_right">
                <!-- <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/services/service-1.png" alt="">  -->
                <h4>Life Time Access</h4>
                <p>Access the courses which you have enrolled through out your life time</p>
             </div>
             <div class="single_service service_right">
                <!-- <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/services/service-2.png" alt=""> -->
                <h4>Skilled Faculty</h4>
                <p>The facilty who teach you the courses are very skilled and highly qualified</p>
             </div>
             <div class="single_service service_right">
                <!-- <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/services/service-3.png" alt=""> -->
                <h4>Everything Online</h4>
                <p>Access all the courses online </p>
             </div>
          </div>
          <div class="col-md-4 col-sm-12 text-center">
             <div class="single_mid">
                <img src="assets/images/dev.png" class="img-responsive" style="max-width: 400px;margin-left: -32px;" alt="">
             </div>
          </div>
          <div class="col-md-4 col-sm-12">
             <div class="single_service">
                <!-- <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/services/service-4.png" alt=""> -->
                <h4>24/7 Support</h4>
                <p>we give you 24/7 support on any issues and queries</p>
             </div>
             <div class="single_service">
                <!-- <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/services/service-5.png" alt=""> -->
                <h4>Various E-BOOKS</h4>
                <p>Access various e-books which are updated up to date from the authors</p>
             </div>
             <div class="single_service">
                <!-- <img src="http://infinityflamesoft.com/html/restarunt-preview/assets/img/services/service-6.png" alt=""> -->
                <h4>Variety of Projects</h4>
                <p>their are various kinds of projects that should be done for completing the course </p>
             </div>
          </div>
       </div>
    </div>
 </section>